@import "compass";
@import "settings";
@import "helpers"; 
@import "layout";


		


/**======================================== 
				
      .o8   o8o            oooo                                
     "888   `"'            `888                                
 .oooo888  oooo   .oooo.    888   .ooooo.   .oooooooo  .oooo.o 
d88' `888  `888  `P  )88b   888  d88' `88b 888' `88b  d88(  "8 
888   888   888   .oP"888   888  888   888 888   888  `"Y88b.  
888   888   888  d8(  888   888  888   888 `88bod8P'  o.  )88b 
`Y8bod88P" o888o `Y888""8o o888o `Y8bod8P' `8oooooo.  8""888P' 
                                           d"     YD           
                                           "Y88888P'           

===========================================**/
html.ms-dialog body.xd.system #s4-leftpanel[role="complementary"]{
		display: none !important;
	}

.ms-dlgFrameContainer {
			overflow: hidden !important;
			width:100% !important;
		}
		.ms-dglContent {
			width:100% !important ;
		}
html.ms-dialog {
	#wrapper {
  		width: 100%;
	}
	.xd-header, .menu-icon, .sidebar-button, .xd-footer{
		display: none !important;
	}
	.ms-sectionheader{
		h3.ms-standardheader{
			font-size: 1.1em;
			line-height: 1.4;
			font-weight: bold;
		}
	}
	> table > td.ms-descriptiontext{
		font-size: 11px;
		line-height: 1.1em;
		display: table;
		padding:7px;
		table{
			text-align: center;
		}
	}
	.s4-ca{
		margin: 0;
		background: none !important;
	}
	#s4-workspace .s4-ca #main-content{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		margin: 0;
		/* padding: 15px; */
		width: 100%;
		min-height: 1px;
		> table{
			margin:0;
			width:100% !important;
			>tbody{
				//margin: 20px;
				display: block;
				width:100%;
			}
		}
	}
	.ms-authoringcontrols{
		background-color: #f6f6f6;
	}
	.ms-inputformheader{
		padding-left: 0px;
	}
	table{
		font-size: 12px;
		tr{
			th,td{
				 padding: 0.3em;
			}
			td{
				padding:7px;
			}
		}
	}
	.s4-pr
	{
 		width:100% !important;
	}

}

/** DIALOGOS
@include  tablet-portrait-and-below{
	.ms-ButtonHeightWidth {
		@include box-sizing(border-box);
		display: block;
	    font-size: 1.5em;
	    height: auto;
	    margin: 0.5em auto;
	    padding: 0.7em;
	    width: 95%;
	}
	.ms-authoringcontrols {
		input, textarea{
			margin: 0 auto;
		}
		tbody{
			width: auto !important;
		}
	}
	.ms-dialog{
		td{
			display: block;
			width:auto !important; 

		}
		input, textarea{
			width: 100% !important;
			box-sizing: border-box;
			padding: 15px;
			margin: 10px 0;
			display: block;
		}
		select{
			display: block;
		}
		.ms-formtable{
			padding: 15px;
		}
		.ms-formbody{
			background: none !important;
			
		}
	}

} **/



body.xd.system
{	
	/**======================================== 

		 .o8                       .       .                                  
		"888                     .o8     .o8                                  
		 888oooo.  oooo  oooo  .o888oo .o888oo  .ooooo.  ooo. .oo.    .oooo.o 
		 d88' `88b `888  `888    888     888   d88' `88b `888P"Y88b  d88(  "8 
		 888   888  888   888    888     888   888   888  888   888  `"Y88b.  
		 888   888  888   888    888 .   888 . 888   888  888   888  o.  )88b 
		 `Y8bod8P'  `V88V"V8P'   "888"   "888" `Y8bod8P' o888o o888o 8""888P'


	===========================================**/
	
	.s4-tn{
				overflow: visible !important;
			}
	.s4-specialNavLinkList{
		border: none;
	}
	tr.ms-itmhover{
			display: table-row;
		}
	.accordion-title{
		display: none;
	}
	.fieldName{
		display: none;

	}
	.ms-listviewtable .ms-alternating{
		background-color:#f5f5f5;
	}

	td.ms-authoringcontrols{
		padding: 7px;
		line-height: 1.7em;
		label{
			font-size: 1.2em;
		}
	}
	.ms-toolbar{
		padding: 10px;
		height: auto;
	}
	.ms-smallsectionline{
		background: none;
	}
	tr b, tr td b h3, .ms-standardheader{
			font-size: 1.5em;
			line-height: 240%;
			font-weight: normal;
			
		}
	.field-name{
		display: none;
	}

	//#s4-ribbonrow{display: block !important;}
	.s4-ca{//background-color: #ffffff;  margin-left: 155px;
		background-color: $newBlue;
	}
	//#s4-leftpanel{ display: block !important;}
	.ms-cui-ctl-large-groupPopup .ms-cui-ctl-largeIconContainer, .ms-cui-ctl-large-groupPopup.ms-cui-disabled:hover .ms-cui-ctl-largeIconContainer{
		border:none;
	}
	table.ms-listviewtable{
		thead{
			background: white
		}
	}
	// Override bg injected by global.css 
	body , body thead td, body tfoot td, body td#header {
		background: none !important;
	}
	.s4-itm-cbx, .s4-itm-inlineedit {
		top: 0;
		position: relative;
	}
	.ms-gb {
		h3.ms-standardheader {
			font-size: 2em;
			line-height: 44px;

			color: #555;
			margin:0;
		}
		border: none;
	}
	// Titles 
	.ms-viewlsts .ms-vb2 {
		line-height: 170%;
		> a {
			font-size: 1.3em;
		}
	}
	td.ms-linksectionheader, th.ms-linksectionheader {
		background:none;
		border:none;
		text-align: left;
		background-color: #E6E7E7;
		font-size: 16px;
		line-height: 175%;
		font-weight: normal;
		color: #000;
		text-indent: 10px;
	}
	#main-content{
		> div > table{
			margin: 20px;
			background: none;
		}
		.ms-pageinformation {
			padding: 0;
		}
				
	}
	
}


/**=============================================================

oooo             .o88o.     .   ooooooooo.                                   oooo  
`888             888 `"   .o8   `888   `Y88.                                 `888  
 888   .ooooo.  o888oo  .o888oo  888   .d88'  .oooo.   ooo. .oo.    .ooooo.   888  
 888  d88' `88b  888      888    888ooo88P'  `P  )88b  `888P"Y88b  d88' `88b  888  
 888  888ooo888  888      888    888          .oP"888   888   888  888ooo888  888  
 888  888    .o  888      888 .  888         d8(  888   888   888  888    .o  888  
o888o `Y8bod8P' o888o     "888" o888o        `Y888""8o o888o o888o `Y8bod8P' o888o 

==============================================================**/
	body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"]{
			background: $newBlue;
			.ms-splinkbutton-text{
				color:#fff;
			}
			.menu > ul > li {
				a{
					text-decoration: none;
					
				}
				> a{
					color: #fff;
					font-weight: bold;
					line-height: 30px;					
					font-size: 1.1em;
				}
				
			}
			.s4-ql ul.root ul {
				margin: 0;
				> li {
						background: #6CCFF4;
						border-bottom: 1px solid $newBlue;
					> a{
						font-size: 0.9em;
						color: #fff;
						line-height: 30px;
						text-indent: 1.3em;
					}
				}
				a.selected{
					color: #fff;
				}
			}
		
		}


/**====================================

                             .o8        o8o  oooo                   .              .o8       oooo                     
                            "888        `"'  `888                 .o8             "888       `888                     
ooo. .oo.  .oo.    .ooooo.   888oooo.  oooo   888   .ooooo.     .o888oo  .oooo.    888oooo.   888   .ooooo.   .oooo.o 
`888P"Y88bP"Y88b  d88' `88b  d88' `88b `888   888  d88' `88b      888   `P  )88b   d88' `88b  888  d88' `88b d88(  "8 
 888   888   888  888   888  888   888  888   888  888ooo888      888    .oP"888   888   888  888  888ooo888 `"Y88b.  
 888   888   888  888   888  888   888  888   888  888    .o      888 . d8(  888   888   888  888  888    .o o.  )88b 
o888o o888o o888o `Y8bod8P'  `Y8bod8P' o888o o888o `Y8bod8P'      "888" `Y888""8o  `Y8bod8P' o888o `Y8bod8P' 8""888P' 

=======================================**/


html:not(.ms-dialog), html.not-dialog{

	@include tablet-portrait-and-below{
		table 						 {table-layout: auto} //IE Fix
		body.system .button			 {float: right}
		table colgroup				 {display: none}
		.ms-vb2 table 				 {margin: 0 auto !important}
		table tr.ms-itmhover tr  	 {padding:20px 0}
		.ms-separator 				{display: none !important;}
		.ms-propertysheet{
			table {margin:0 auto}
		}
		
		.fieldName{
			float: left;
			margin-right: 10px;
			font-weight: bold;
			display: block;
			margin-left: -90px;
			width: 90px;
			font-size: 0.8em;
		}


		td label{
			display: inline-block !important;
			margin-left: 6px;
		}
		
		button, select{
			font-size: 12px;
			padding: 4px;
		}
		td.ms-authoringcontrols > label, 
		td.ms-authoringcontrols > span > label, 
		td.ms-authoringcontrols > table > tbody > tr > td > label {
			font-size: 1em;
		}
		.ms-authoringcontrols table{
			margin:0 auto;
			width:auto;
		}
	 
	 	
	 	body.xd #main-content table.ms-viewlsts{
	 		tbody{
	 			tr:first-child{
	 				display: none;
	 			}
	 		}
	 	}
	 	* html table.ms-listviewtable thead{ zoom: 1;}

		body.xd #main-content{
			padding: 0 !important;
			tr.s4-itm-selected, tr.s4-itm-selected:hover {
				//background-color: lighten($lightBlue, 20%) !important;
				background-color: none transparent !important;
			}
			tr.s4-itm-selected > td, tr.s4-itm-selected:hover > td{
				//background: lighten($blue, 5%) !important;
				background-color: white !important;
			}
			tr.s4-itm-selected{
				background: white !important;
			}
			#layoutsTable{
				@include box-sizing(border-box);
	    		display: block;
	    		width: auto !important;
	    		table-layout: fixed\9;
	    		width:100%\9;
			}
			tbody, tr{
				width: 100% !important;
				display: block;
				float: left\9; /* IE8+9  */
				//width:100% !important\9; /*IE8+9 */
			}
			td{

				line-height: 30px;
				select{
					 width: 100%;
					 @include box-sizing(border-box);
				}
				position: relative;
				img{
					max-width: 100%;
				}
			}
			.ms-itmhover{
				display: none ;
			}
			tr.accordion-title{
				display: block;
				float: left\9; /* IE8+9  */
				width:100% !important; /*IE8+9 */
				clear:both\9; /*IE8+9 */
				background: $blue;
				padding: 10px;
				border-bottom: 1px solid darken($blue, 10%);
				td{
					line-height: 25px;
					font-size: 1.4em;
					color: $darkestBlue;
				    font-size: 1.4em;
				    font-weight: bold;
				    padding: 0;
				    line-height: 30px;
				    text-align: left;
				    text-indent: 1em;
				    display: block;
				    float: left\9; /* IE8+9  */
					clear:both\9; /*IE8+9 */
				    width: 100% !important;
				}
				&:before{
						content:'';
						width: 0;
						height: 0;
						border-top: 7px solid transparent;
						border-bottom: 7px solid transparent;
						border-left: 7px solid $darkestBlue;
						position: absolute;
						right: 10px;
						margin-top: 5px;
					}
				&.active:before{
						content:'';
						width: 0;
						height: 0;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 7px solid $darkestBlue;
						position: absolute;
						right: 10px;
						margin-top: 10px;
				}
				&:hover{
					background: lighten($blue, 5%);
				}
			}

			#onetidMngFieldRptrTable {
				
				tr, tbody{
					width: auto !important;
				}
				td{
					width: 100% !important;
				}
				tr{
					border-bottom: 1px solid #ccc;
				}
			}
			#onetidMngCytpeRptrTable td{
				//display: table-cell;
			    padding: 15px 16px;
			    text-indent: 10px;
			}
			overflow: hidden;
			.ms-propertysheet a{
				&:first-child{
					background: $blue;
					color:#fff;
				}
				line-height: 52px;
				font-size: 1.1em;
			}
			
			#AsynchronousViewDefault_CalendarView{
				table{
			 		display: table !important;
			 	}
			 	td{
					display: table-cell !important;
				}
				tr{
					display: table-row !important;
				}
				.ms-acal-detail{
					th{
						display: table-cell !important;
					}
				}
				.ms-acal-vcont{
					td{
						display: block !important;
						float: left\9; /* IE8+9  */
						width:100%\9; /*IE8+9 */
						clear:both\9; /*IE8+9 */
					}
				}
				.ms-acal-outday{
					border-right: solid 1px #d9dde1 !important;
					border-left: solid 1px #d9dde1 !important;
					display: table-cell !important;
				}
			}
			.ms-authoringcontrols {
				background: none !important;
				clear: both;
				br[disabled=true], td br{
					display: none;
				}
			}
			#diidViewColumnHeaderPictureDisp1{
				height: 85px;
			}
			//height: auto !important;
			padding: 10px 0;
			.theme-font-pickers{
				float:none;
			}
			tbody > tr > th{
				display: none;
			}
			 tr td b h3{
			 		text-align: center !important; 
			 }
			.field-name{
				font-weight: bold;
				display: block;
			}
			#mngfieldToobar{
				background: #fff;
				padding: 20px 0;
			}
			.ms-toolbar{
				background: none;
				border: none;
				#topPagingCell{
					display: none;
				}
				label{
					font-size: 1.4em;
				}
				select{
					display: block;
				}
				table{
					width:100%;
					margin:0 auto !important;
					border: 1px solid #ccc;
					padding: 3px 0;
					td{
						background: #eee;
					}
					&:hover{
						background: url("https://at.avanade.com/_layouts/images/bgximg.png") repeat-x -0px -431px;
						cursor: pointer;
					}
				}
				.ms-menubuttoninactivehover{
					background: #eee;
					border: 1px solid #ccc;
				}
			}
			.ms-sectionheader{
					height: auto;
					font-weight: bold;
					padding:7px;
					.ms-standardheader{
						font-size: 2em;
						text-align: center;
						line-height: 2em;
						font-weight: normal;
					}
				}

			table[id*=PlaceHolderMain]{
				margin:0 auto;

			}
			> div{
				float: none !important;
				margin:0 auto !important;
				width: auto !important;
				> table{
					margin:0 auto;
					

				}
			}
			.ms-pageinformation{
				th, tr, td, h3{
					text-align: center;
					font-size: 1.1em;
				}
				h3{
					font-size: 1.5em;
				}
			}

			.ms-linksection-level1 {
				td{
					height:auto !important;
				}
				h3 {
					font-size: 1.5em;
					font-weight: 100;
					padding: 17px 0 9px 0;
				}			
				ul li a {
					font-size: 1.1em;
					line-height: 45px;
				}
				img{
					margin-top: 13px;
				}
			}
			.ms-vb{
				a{
					font-size: 1.3em;
				}
				
			}
			.ms-menutoolbar td a {
				color: #0072bc !important;
				font-size: 12pt;
				margin: 10px;
			}
			.ms-toolbar table:hover{
				background: #ccc;
			}
			td.ms-vb2{
	 			width: auto !important;
	 			padding: 10px 15px;
	 			font-size: 1em;
	 			padding-left: 100px;
	 			text-align: left;
	 			line-height: 25px;
	 			&[colspan="3"] .fieldName{
	 				display: none;
	 			}
	 		}

	 		> table{
				width:auto;
				display: block;
				table-layout: fixed \9;/* IE8+9  */
				width:100%\9;/* IE8+9  */

				> tbody, > tbody > tr, > tbody > tr > td{
					display: block;
					float: left\9; /* IE8+9  */
					width:100%\9; /*IE8+9 */
					clear:both\9; /*IE8+9 */
					border:none;
					text-align: center !important;
					height: auto;
				}
			}
			.ms-vb2{

				//display: none;
				&:nth-of-type(2){
					display: block;
				}
				&.ms-viewlsts-noitems{
					display: block;
				}
			}
			.ms-vb-icon{
				margin:0 auto !important;
				padding: 20px;
			}
			tbody > tr > td {
				border: none !important;
				text-align: center;	
				width: auto !important;
				display: block;
				float: left\9; /* IE8+9  */
				width:100%\9; /*IE8+9 */
				clear:both\9; /*IE8+9 */

			}
			table.ms-listviewtable{
				table-layout: fixed \9;/* IE8+9  */
				width:100%\9;/* IE8+9  */
				tbody tr.ms-itmhover td{
					width: 100% !important;
				}
			}
			td.ms-vb-itmcbx{
				text-align: center;
			}
			.ms-gb h3.ms-standardheader {
				text-align: center;
				font-size: 2em;
				line-height: 44px;
				text-align: center;
			}
			.ms-gb {
				height: 45px;
			}
			.ms-menubuttonactivehover, .ms-buttonactivehover{
				background: #dedede;
			}

			.ms-viewheadertr{
				input[type="checkbox"]{
					margin-top: 3px;
				}
			}
			.ms-menutoolbar{
				height: auto;
				background: none;
			}
			.s4-wpTopTable tbody,.s4-wpTopTable  tr, table.s4-wpTopTable, .s4-wpTopTable table , .s4-wpTopTable td{
				display: block ;
				float: left\9; /* IE8+9  */
				width:100%\9; /*IE8+9 */
				clear:both\9; /*IE8+9 */
			}
			.s4-wpTopTable #AsynchronousViewDefault_CalendarView tbody{
				display: table-row-group;
			}
			.s4-wpTopTable #AsynchronousViewDefault_CalendarView tr{
				display: table-row;
			} 
			table.s4-wpTopTable #AsynchronousViewDefault_CalendarView{
				display: block;
				table-layout: fixed \9;
				width:100% \9;
				clear:both \9;
			} 
			.s4-wpTopTable #AsynchronousViewDefault_CalendarView table{
				display: table;
			} 
			.s4-wpTopTable #AsynchronousViewDefault_CalendarView td{
				display: table-cell;

			}

		}
	}
}


@include tablet-landscape-and-below{
	body.system .s4-ca {
    overflow-x: visible !important;
    min-height:1px;
	}


	html:not(.ms-dialog-nr) body.xd.system #main-content {
    	overflow: visible !important;
    	min-height:1px;
	}
}

body.xd.system table table.ms-listviewtable > tbody{width:100% !important}
body.xd.system table table.ms-listviewtable > tbody .ms-itmhover{background-image:none}




/**===========================================================================


ooooo oooooooooooo     .o88o.  o8o                                 
`888' `888'     `8     888 `"  `"'                                 
 888   888            o888oo  oooo  oooo    ooo  .ooooo.   .oooo.o 
 888   888oooo8        888    `888   `88b..8P'  d88' `88b d88(  "8 
 888   888    "        888     888     Y888'    888ooo888 `"Y88b.  
 888   888       o     888     888   .o8"'88b   888    .o o.  )88b 
o888o o888ooooood8    o888o   o888o o88'   888o `Y8bod8P' 8""888P' 

============================================================================**/
.lt-ie8 body.xd.system #thumbCrop > img{visbility:visible ;}
.lt-ie8 body.xd.system tr.ms-itmhover 	{display:table-row !important ;}
// Foundation resets


body.xd.system table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: none;
}

// Sharepoint reset

body.xd.system img[src="/_layouts/images/blank.gif"]{
	display: none;
}		