/*      
01. Resets Inline Styles
02. Header
03. Left Panel
04. Main Content*/ 
  
/* ==========================================================================
   01. Resets Inline Styles
   ========================================================================== */

	.ms-cui-topBar2 ul, .ms-cui-topBar2 ol, .ms-cui-topBar2 dl{
		line-height:auto;
	}
	body.v4master.xd.system{
		width:100%;
		overflow:hidden
	}
	
	body.system #s4-ribbonrow{
		display:block !important;
	}
	ul, ol, dl{
		line-height:1 !important;
	}
	
	* .columns img {
	    max-width: none !important;
	}
	
	body.v4master.xd.system #main-content{
		background:none
	}
	

/* ==========================================================================
   02. Header
   ========================================================================== */

	body.system .xd-header .ms-ltviewselectormenuheader .ms-viewselectorhover{
		background:none;
		border: solid 1px  transparent
	}
	body.system .xd-header .s4-notdlg{
		display: table;
	   	width: 100%;	
	}
	body.system .xd-header a:hover{
		text-decoration:underline	
	}
	/* Vertical Align */
	body.system .xd-header .row{
		display:table;
	}
	
	body.system .xd-header .row .columns{
		display:table-cell;
		vertical-align:middle;
		float:none;
	}
	
	/* Logo */
	body.system .xd-header .logo{
		width:140px;
		margin-right:20px;
		vertical-align:middle;
		display:table-cell;
	}	
		
	/* Description */
	body.system .xd-header .navigation-description{
		padding-left:20px;
		vertical-align:middle;
		display:table-cell;

	}
	body.system .xd-header .s4-pagedescription, 
	body.system .xd-header .s4-pagedescription span{
		color: #FFFFFF;
	    width:100%
	}	
	
	/* Bread Crumbs */ 
	body.system .xd-header h1, 
	body.system .xd-header h2{
   		margin:0px;
		padding:0px;
		line-height:12px;
		font-size:12px;
		display:inline-block;
		color: #FFFFFF;
		font-weight: normal;
	}
	body.system .xd-header h1 a,
	body.system .xd-header h2 a,
	body.system .xd-header h2 a span,
	body.system .xd-header #ctl00_PlaceHolderPageDescription_LabelGroupDescription > a{
		margin:0px;
		padding:0;
		line-height:12px;
		font-size:12px;
		font-weight:400;
		color:#fff;
		font-weight: normal;
	}
	
	body.system .xd-header .ms-ltviewselectormenuheader .ms-viewselector, 
	body.system .xd-header .ms-ltviewselectormenuheader .ms-viewselectorhover{
		padding:0px;
	}
	body.system .xd-header .s4-clust ms-ltviewselectormenuseparator{
		width:0px !important; 
		height:0px !important	
	}
	/* Arrows BreadCrumbs*/
	
	body.system h1 .s4-clust.ms-ltviewselectormenuseparator, 
	body.system h1 .s4-nothome.s4-bcsep.s4-titlesep{
		width: 0; 
		height: 0; 
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #fff;
		display:inline-block;
		margin:0 5px;
		opacity:.5

	}	
	body.system .s4-clust.ms-viewselector-arrow.ms-menu-stdarw, 
	body.system .ms-menu-althov-active .ms-viewselectorhover{
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent; 
		border-right: 5px solid transparent; 
		border-top: 5px solid #fff;
		display:inline-block;
		margin-left:5px;
	}
	body.system #ctl00_PlaceHolderPageTitleInTitleArea_ctl01_ctl00 > span:first-child{
		width: 0; 
		height: 0; 
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #fff;
		display:inline-block;
		margin:0 5px;		
		opacity:.5
	}
	body.system .s4-clust.ms-ltviewselectormenuseparator{
		display:none !important	
	}
	body.system h2 span a{
					
	}
	/* Welcome */
	body.system #auth .thumbCrop{
		height:45px;
		border-radius:50%
	}
	body.system #auth{
		height:auto	
	}
	
	/* Menu */
	body.system button:hover, body.system .button:hover{
		background-color:#009CC9
	}
	body.system .xd-menu{
		border:none
	}	
	body.system .s4-clust.ms-ltviewselectormenuseparator img, 
	body.system .s4-nothome.s4-bcsep.s4-titlesep img, .s4-clust.ms-viewselector-arrow.ms-menu-stdarw img{
		display:none !important	
	}
	body.system .ms-MenuUIPopupBody.ms-MenuUIPopupScreen img{
		margin-top:0px
	}
   

/* ==========================================================================
   03. Left Panel
   ========================================================================== */
	body.xd #s4-leftpanel{
		display: inline-block !important; background-color:#ffffff
	}		
	.slide-nav.active #s4-leftpanel[role="complementary"]{
		display:block;
	}
	body.xd #s4-leftpanel .s4-ca
	{
		margin-left:0%;
		background:none
	}
	body.xd .s4-recentchanges{
		border-bottom:none	
	}
	.s4-ql ul.root > li > .menu-item, .s4-qlheader, .s4-qlheader:visited{
		border-bottom:solid 1px #ccc;
		padding-left:0px	
	}
/* ==========================================================================
   04. Main Content
   ========================================================================== */
	
	html body.system #main-content{
		margin-top:0px
	}
	html body.system .s4-ca{
		min-height:310px
	}
/* ==========================================================================
   04. Media Queries
   ========================================================================== */
   	@media only screen and (max-width: 1264px){
		body.system #auth .bold {
			display:block	
		}
		body.system #auth{
			padding-right:60px	
		}
		body.system #auth .thumbCrop{
			position:absolute;
			top:28px
		}    
	}
	@media only screen and (max-width: 1040px){
		body.system #auth .thumbCrop{
			top:18px
		}  
	}
	@media only screen and (max-width: 768px){
		body.system .xd-header .row{
			width:100%
		}
		body.system .xd-header .logo{
			width:100%;
			display:block	
		}
		body.system .xd-header h1{
			display:inline-block;
			position:static
		}			
		body.system .xd-header .navigation-description{
			display:block;
			text-align:left;
			width:100%;
			padding-left:0px
		}
		body.system #auth .thumbCrop{
			top:38px	
		}
		body.system button, body.system .button{
			background-color:#0088AF;
			padding:20px 0;
			color:#fff;
			font-size:1.1em;
			margin:0px;
			padding:20px 0;
			border:none;
			box-shadow:0px;
			width:50%;
			display:inline-block;
			float:left
		}	
		body.system .xd-footer{
			text-align:center	
		}
	
	}	
	@media only screen and (max-width: 620px){
		body.xd .menu-icon{
			background-position: 90% center;		
		}
		body.system .xd-header #auth{
			padding-right:0px
		}
		body.system .xd-header .row .columns,
		body.system .xd-header .ms-listdescription,
		body.system .xd-header .navigation-description{
			width:100%;
			display:block;
			text-align:center;
			float:none
		}
		body.system .xd-header .navigation-description{
			margin-top:2em	
		}
		body.system #auth .thumbCrop{
			display:block;
			position:static	
		}
		body.system .s4-pagedescription span{
			display:block;
			text-align:center	
		}
	}
