/*
Syntax error: Invalid CSS after "...D/img/bg.jpg') ": expected ";", was "!import no-repe..."
        on line 348 of C:/Users/oscar.d.rodriguez/Documents/GitHub/XDNA/sass/xd.scss

Backtrace:
C:/Users/oscar.d.rodriguez/Documents/GitHub/XDNA/sass/xd.scss:348
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1145:in `expected'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1078:in `tok!'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:585:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Program Files (x86)/Prepros/gems/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Prepros/bin/gems.rb:17:in `load'
C:/Program Files (x86)/Prepros/bin/gems.rb:17:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...D/img/bg.jpg') \": expected \";\", was \"!import no-repe...\"\A         on line 348 of C:/Users/oscar.d.rodriguez/Documents/GitHub/XDNA/sass/xd.scss"; }
