@charset "IBM437";
/* ..-------------------------------------------------------...
  |                         COLOR PALETTE                      |
  |..--------------------------------------------------------..|*/
/*...................Links.....................*/
/*...................Headings.....................*/
/* ..-------------------------------------------------------...
|                 ANIMATIONS & TRANSITIONS                   |
|..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
 |                         HELPER CLASSES                     |
 |..--------------------------------------------------------..|*/
.nodisplay, .hide {
  display: none;
}

.inline {
  display: inline-block;
}

.pointer:hover, body.xd .menu-icon:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.auto {
  margin: 0 auto;
}

.odd {
  background: #FBFBFB;
}

.even {
  background: #F2F0F1;
}

.letterpressed {
  text-shadow: 1px 1px 0 #ccc, -1px -1px- 0 #999;
}

.bold {
  font-weight: bold;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.block {
  display: block;
}

.h100 {
  height: 100%;
}

.noOutline {
  outline: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.paddingL {
  padding-left: 1.3%;
}

.paddingB {
  padding-bottom: 1.3%;
}

.paddingR {
  padding-right: 1.3%;
}

.paddingT {
  padding-top: 1.3%;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.positionA {
  position: absolute;
}

.positionF {
  position: fixed;
}

.positionR {
  position: relative;
}

.fullFixedBg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-origin: border-box;
}

html {
  background: #efefef;
}

body.xd {
  /* ==========================================================================
   INDEX
   1.0 Master Page Wrappers and GLOBAL
   2.0 Header Styles
   3.0 Menu
   4.0 Footer
   5.0 Media Queries
   ========================================================================== */
  /* ==========================================================================
     1.0 Master Page Wrappers
     ========================================================================== */
  background-color: #efefef;
  /* ==========================================================================
     
  
  ooooo   ooooo                           .o8                     
  `888'   `888'                          "888                     
   888     888   .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
   888ooooo888  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
   888     888  888ooo888  .oP"888  888   888  888ooo888  888     
   888     888  888    .o d8(  888  888   888  888    .o  888     
  o888o   o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b 
  
  
     ========================================================================== */
  /* ==========================================================================
  

oooooo   oooooo     oooo           oooo                                                  
 `888.    `888.     .8'            `888                                                  
  `888.   .8888.   .8'    .ooooo.   888   .ooooo.   .ooooo.  ooo. .oo.  .oo.    .ooooo.  
   `888  .8'`888. .8'    d88' `88b  888  d88' `"Y8 d88' `88b `888P"Y88bP"Y88b  d88' `88b 
    `888.8'  `888.8'     888ooo888  888  888       888   888  888   888   888  888ooo888 
     `888'    `888'      888    .o  888  888   .o8 888   888  888   888   888  888    .o 
      `8'      `8'       `Y8bod8P' o888o `Y8bod8P' `Y8bod8P' o888o o888o o888o `Y8bod8P' 


   ========================================================================== */
  /* ==========================================================================
 
 .oooooo..o                                        oooo        
d8P'    `Y8                                        `888        
Y88bo.       .ooooo.   .oooo.   oooo d8b  .ooooo.   888 .oo.   
 `"Y8888o.  d88' `88b `P  )88b  `888""8P d88' `"Y8  888P"Y88b  
     `"Y88b 888ooo888  .oP"888   888     888        888   888  
oo     .d8P 888    .o d8(  888   888     888   .o8  888   888  
8""88888P'  `Y8bod8P' `Y888""8o d888b    `Y8bod8P' o888o o888o 
                                                               
  
   ========================================================================== */
  /* ==========================================================================

ooo        ooooo                                   
`88.       .888'                                   
 888b     d'888   .ooooo.  ooo. .oo.   oooo  oooo  
 8 Y88. .P  888  d88' `88b `888P"Y88b  `888  `888  
 8  `888'   888  888ooo888  888   888   888   888  
 8    Y     888  888    .o  888   888   888   888  
o8o        o888o `Y8bod8P' o888o o888o  `V88V"V8P' 

   ========================================================================== */
  /**==========================================================================
  
      .oooooo.                             .                             .   
   d8P'  `Y8b                          .o8                           .o8   
  888           .ooooo.  ooo. .oo.   .o888oo  .ooooo.  ooo. .oo.   .o888oo 
  888          d88' `88b `888P"Y88b    888   d88' `88b `888P"Y88b    888   
  888          888   888  888   888    888   888ooo888  888   888    888   
  `88b    ooo  888   888  888   888    888 . 888    .o  888   888    888 . 
   `Y8bood8P'  `Y8bod8P' o888o o888o   "888" `Y8bod8P' o888o o888o   "888" 
  
  
  ==========================================================================**/
  /**==============================================
  
   o8o                                           
   `"'                                           
  oooo   .ooooo.   .ooooo.  ooo. .oo.    .oooo.o 
  `888  d88' `"Y8 d88' `88b `888P"Y88b  d88(  "8 
   888  888       888   888  888   888  `"Y88b.  
   888  888   .o8 888   888  888   888  o.  )88b 
  o888o `Y8bod8P' `Y8bod8P' o888o o888o 8""888P' 
  
  
  ==============================================**/
  /* ==========================================================================

oooooooooooo                         .                      
`888'     `8                       .o8                      
 888          .ooooo.   .ooooo.  .o888oo  .ooooo.  oooo d8b 
 888oooo8    d88' `88b d88' `88b   888   d88' `88b `888""8P 
 888    "    888   888 888   888   888   888ooo888  888     
 888         888   888 888   888   888 . 888    .o  888     
o888o        `Y8bod8P' `Y8bod8P'   "888" `Y8bod8P' d888b    

   ========================================================================== */
  /* Body Wrappers */
  /* Custom SharePoint Parts */
  /* Header Search SharePoint Web Parts*/
  /* Main Content & Arrows  */
}
body.xd.reader {
  overflow: auto;
}
body.xd.reader #s4-workspace {
  overflow: visible;
  height: auto !important;
}
body.xd .menu-icon {
  background: #97caeb;
  width: 45px;
  height: 45px;
  position: absolute;
  text-align: center;
  z-index: 1;
  right: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
body.xd .menu-icon:hover {
  background: #add5ef;
}
body.xd .mobile-submenu {
  display: none;
  clear: both;
}
body.xd div[id*="TopNavigationMenuV4"] {
  display: none;
}
body.xd #ctl00_MSO_ContentDiv,
body.xd #s4-bodyContainer {
  min-width: 320px;
}
body.xd #s4-leftpanel {
  display: none;
}
body.xd .s4-ca {
  margin-left: 0px;
}
body.xd hr {
  border-bottom: none;
}
body.xd .xd-header {
  background-color: #009fd9;
  padding: 30px;
}
body.xd .xd-header h1 {
  display: inline-block;
  font-weight: lighter;
  margin: 0px;
  margin-top: 0px;
}
body.xd .xd-header h1 a {
  color: #fff;
  margin-left: 20px;
  font-size: 0.9em;
  font-family: "Segoe UI";
  font-size: 1.2em;
}
body.xd .xd-header .s4-notdlg {
  display: inline-block;
}
body.xd .xd-header .s4-notdlg img {
  max-height: 38px;
  max-width: 137px;
}
body.xd .xd-header .row {
  max-width: 1320px;
}
body.xd .xd-header .s4-clust.ms-viewselector-arrow {
  display: none;
}
body.xd .xd-welcome {
  clear: both;
  overflow: hidden;
  display: inline-block;
  float: right;
  margin-right: -11px;
  text-align: right;
  font-size: 1.2em;
  color: #fff;
}
body.xd .xd-welcome .ms-welcomeMenu,
body.xd .xd-welcome .s4-trc-container-menu {
  background: none;
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI";
}
body.xd .xd-welcome #auth {
  margin-right: 0px;
  margin-top: 0px;
  line-height: inherit;
}
body.xd .xd-welcome #auth .thumb {
  margin-left: 20px;
  line-height: inherit;
}
body.xd .xd-welcome #auth .thumbCrop {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
body.xd .xd-welcome #auth img {
  min-height: 1px;
  margin: 0;
}
body.xd .xd-welcome a {
  color: #fff;
}
body.xd .xd-welcome > img {
  margin-left: 20px;
}
body.xd .xd-welcome .s4-trc-container-menu {
  margin-top: 22px;
}
body.xd .xd-welcome #zz16_Menu > span:before {
  content: "Ã¢â€“Â¼";
  display: inline-block;
  float: right;
  font-size: 11px;
  margin-right: 0px;
}
body.xd .xd-welcome .s4-clust.ms-viewselector-arrow > img {
  display: none;
}
body.xd .xd-welcome .welcome {
  color: #fff;
  display: inline-block;
  font-weight: bold;
}
body.xd .xd-search {
  display: inline-block;
  float: right;
  display: none;
}
body.xd .xd-search .ms-sbplain {
  background-image: none;
}
body.xd .xd-search input {
  margin: 0px;
  padding: 0 0 0 5px;
  height: 19px;
  float: right;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: none !important;
  font-style: normal;
  font-size: 1em;
}
body.xd .xd-search td img {
  display: none;
}
body.xd .xd-search td:first-child {
  display: block;
}
body.xd .xd-search td:nth-of-type(2) {
  background-color: #fff;
}
body.xd .xd-search td a {
  height: 20px;
  width: 20px;
  display: inline-block;
  background: url("img/Search-Find.png") -7px -5px;
}
body.xd .xd-menu {
  background-color: #fff;
  padding: 0 30px;
  border-top: solid 2px #fe6601;
  overflow: visible;
  line-height: 10px;
}
body.xd .xd-menu .s4-tn li.static > .menu-item {
  height: 100%;
  color: #7FD7F1;
  padding: 17px;
  text-transform: uppercase;
  font-size: 14px;
}
body.xd .xd-menu .menu ul li:first-child .menu-item {
  color: #999;
}
body.xd .xd-menu .menu li.selected {
  border-top: 4px solid #fe6601;
  line-height: 2px;
}
body.xd .xd-menu .menu li.selected .menu-item {
  color: #F9F9FB;
}
body.xd .xd-menu .s4-tn ul.dynamic {
  border: none;
}
body.xd .xd-menu .s4-tn li.static .menu-item {
  height: 100%;
  color: #2F2F2F;
  padding: 18px;
  text-transform: uppercase;
  font-size: 1.2em;
}
body.xd .xd-menu .s4-tn li.static .menu-item:hover {
  background-color: #f9f9f9;
  text-decoration: none;
}
body.xd .xd-menu .s4-tn li {
  line-height: 6px;
  font-weight: normal;
}
body.xd .xd-menu .static.dynamic-children li a:hover {
  background-color: #0088af;
}
body.xd .xd-menu li.static.dynamic-children.hover {
  background-color: #f9f9f9;
}
body.xd .menu-horizontal a.dynamic-children span.additional-background,
body.xd .menu-horizontal span.dynamic-children span.additional-background {
  background-image: none;
  /*background-image:url("img/drop-down-arrow.png");*/
  background-position: right 5px;
  padding-right: 15px;
}
body.xd .menu-horizontal a.dynamic-children span.additional-background:before,
body.xd .menu-horizontal span.dynamic-children span.additional-background:before {
  content: "▼";
  display: inline-block;
  float: right;
  font-size: 11px;
  margin-right: -20px;
}
body.xd .menu-icon {
  width: 100%;
  right: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url("img/menu.png");
  background-position: 70% center;
  background-repeat: no-repeat;
  font-size: 1.5em;
  line-height: 3.3em;
  font-weight: 300;
  background: #fff;
  color: #2e2e2e;
  height: 3.3em;
}
body.xd .menu-icon:hover {
  background-color: #f9f9f9;
}
body.xd .mobile-submenu {
  display: none;
  clear: both;
}
body.xd #main-content {
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #fcfcfc url("https://at.avanade.com/organizations/XDNA/Style Library/XD/img/bg.jpg") no-repeat center center fixed;
}
body.xd #main-content ul.color-key.wide li {
  font-size: 11px;
}
body.xd #main-content .welcome-content {
  margin: 0;
  padding: 25px 0;
}
body.xd #main-content #gridBoard {
  background: none;
}
body.xd #main-content .panel {
  background: #C6C7C9;
  border: 1px solid transparent;
  background: #c6c7c9;
  /* The Fallback */
  background: rgba(198, 199, 201, 0.4);
}
body.xd #main-content .panel h3 {
  color: #88888c;
  font-size: 35px;
  font-weight: 300;
}
body.xd #main-content .panel hr {
  display: none;
}
body.xd #main-content .panel p, body.xd #main-content .panel a, body.xd #main-content .panel li {
  color: #333333 !important;
}
body.xd #main-content .panel span {
  color: #666;
}
body.xd #main-content .panel ul {
  background: none;
}
body.xd #main-content .panel ul.bullet li {
  background: url("https://at.avanade.com/organizations/XDNA/Style Library/XD/img/swap-right.png") no-repeat top left;
}
body.xd #main-content .panel:before {
  display: none;
}
body.xd #main-content .panel.featured, body.xd #main-content .panel[data-panel-id="teamstatus"] {
  background: #00ADEE;
}
body.xd #main-content .panel.featured h2, body.xd #main-content .panel[data-panel-id="teamstatus"] h2 {
  font-weight: lighter;
}
body.xd #main-content .panel.featured p, body.xd #main-content .panel.featured a, body.xd #main-content .panel.featured li, body.xd #main-content .panel.featured span, body.xd #main-content .panel.featured h3, body.xd #main-content .panel[data-panel-id="teamstatus"] p, body.xd #main-content .panel[data-panel-id="teamstatus"] a, body.xd #main-content .panel[data-panel-id="teamstatus"] li, body.xd #main-content .panel[data-panel-id="teamstatus"] span, body.xd #main-content .panel[data-panel-id="teamstatus"] h3 {
  color: #fefefe !important;
}
body.xd #main-content .panel.featured .status span.authorTitle, body.xd #main-content .panel[data-panel-id="teamstatus"] .status span.authorTitle {
  color: #525252 !important;
}
body.xd #main-content .panel.featured .status p, body.xd #main-content .panel[data-panel-id="teamstatus"] .status p {
  padding-left: 80px;
}
body.xd #main-content .panel.featured p, body.xd #main-content .panel[data-panel-id="teamstatus"] p {
  margin: 10px 0;
}
body.xd #main-content .panel .thumbCrop {
  border-radius: 100%;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .color-key .status.yellow {
  background: #f39c12 !important;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .color-key .status.red {
  background: #e74c3c !important;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .color-key .status.green {
  background: #27ae60 !important;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .details {
  width: 80%;
  float: left;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .filters {
  display: none;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .filters li {
  display: inline-block;
  margin-right: 9px;
  font-size: 14px;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .filters li a {
  color: #666;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .filters li.selected a {
  color: #27ae60 !important;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability li {
  display: block;
  clear: both;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability li .status {
  float: right;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .author {
  text-decoration: none !important;
  font-size: 26px;
  float: left;
  display: block;
  font-weight: 300 !important;
  clear: both;
  line-height: 120%;
  color: #333333;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .availability .authorTitle {
  float: left;
  clear: both;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .authorLoc {
  width: 15% !important;
  height: 60px !important;
  line-height: 60px;
  text-align: center;
  color: #fefefe !important;
  float: left !important;
  display: block;
  font-size: 24px;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .authorLoc.status.yellow {
  background: #f39c12;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .authorLoc.status.green {
  background: #27ae60;
}
body.xd #main-content div[data-panel-id="availableteammembers"] .authorLoc.status.red {
  background: #e74c3c;
}
body.xd #carPaginate {
  margin-bottom: 25px !important;
  height: 5px !important;
  overflow: hidden;
}
body.xd #carPaginate a:active {
  box-shadow: none;
}
body.xd #carPaginate a.selected {
  background-color: #009fd9;
}
body.xd #carNext,
body.xd #carPrev {
  margin-left: 0;
  margin-right: 0;
  opacity: .9;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  cursor: pointer;
  font-size: 20px;
  height: auto;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -65px;
  opacity: 0.5;
}
body.xd #carNext:hover, body.xd #carNext:focus,
body.xd #carPrev:hover,
body.xd #carPrev:focus {
  box-shadow: none;
  opacity: 1;
}
body.xd:hover, body.xd:active {
  background-color: #00B0E2;
  opacity: 1;
}
body.xd .caroufredsel_wrapper {
  margin: 0 auto !important;
}
body.xd img[id*="_PictureUrlImage"] {
  width: 60px;
  height: 60px;
}
body.xd .s4-ca > div.s4-notdlg.social-bar,
body.xd .s4-ca > div.s4-notdlg.xd-title {
  display: none;
}
body.xd .s4-tn {
  max-width: 1320px;
  margin: 0 auto;
}
body.xd input[type="button"].ms-ButtonHeightWidth,
body.xd input[type="reset"].ms-ButtonHeightWidth,
body.xd input[type="submit"].ms-ButtonHeightWidth,
body.xd input[type="submit"] {
  border: none;
  padding: 1.2em 2.2em;
  color: #fff;
  text-highlight: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.4em;
  height: auto;
  width: auto;
}
body.xd input[type="button"] {
  background-color: #009fd9;
}
body.xd input[type="button"]:hover {
  background-color: #00b2f3;
}
body.xd input[type="reset"] {
  background-color: #006c8c;
}
body.xd input[type="reset"]:hover {
  background-color: #0080a6;
}
body.xd input[type="submit"] {
  background-color: #0088af;
}
body.xd input[type="submit"]:hover {
  background-color: #009cc9;
}
body.xd .icons-sprite,
body.xd .icons-active,
body.xd .panel .availability .status.green,
body.xd .panel .color-key .status.green,
body.xd .panel .multi-bullets .status.green,
body.xd .icons-available,
body.xd .panel .availability .status.black,
body.xd .panel .color-key .status.black,
body.xd .panel .multi-bullets .status.black,
body.xd .icons-booked,
body.xd .icons-half-booked,
body.xd .icons-incoming,
body.xd .panel .availability .status.white,
body.xd .panel .color-key .status.white,
body.xd .panel .multi-bullets .status.white,
body.xd .icons-project-alert,
body.xd .panel .availability .status.red,
body.xd .panel .color-key .status.red,
body.xd .panel .multi-bullets .status.red,
body.xd .icons-project-ontrack,
body.xd .panel .availability .status.blue,
body.xd .panel .color-key .status.blue,
body.xd .panel .multi-bullets .status.blue,
body.xd .icons-project-warning,
body.xd .panel .availability .status.yellow,
body.xd .panel .color-key .status.yellow,
body.xd .panel .multi-bullets .status.yellow {
  background: url("https://at.avanade.com/organizations/XDNA/Style Library/XD/img/icons-s5ee5f4547f.png") no-repeat;
  width: 14px;
  height: 14px;
}
body.xd .icons-active, body.xd .panel .availability .status.green,
body.xd .panel .color-key .status.green,
body.xd .panel .multi-bullets .status.green {
  background-position: 0 -13px;
}
body.xd .icons-available, body.xd .panel .availability .status.black,
body.xd .panel .color-key .status.black,
body.xd .panel .multi-bullets .status.black {
  background-position: 0 -66px;
}
body.xd .icons-booked {
  background-position: 0 -71px;
}
body.xd .icons-half-booked {
  background-position: 0 -67px;
}
body.xd .icons-incoming, body.xd .panel .availability .status.white,
body.xd .panel .color-key .status.white,
body.xd .panel .multi-bullets .status.white {
  background-position: 0 -53px;
}
body.xd .icons-project-alert, body.xd .panel .availability .status.red,
body.xd .panel .color-key .status.red,
body.xd .panel .multi-bullets .status.red {
  background-position: 0 0;
}
body.xd .icons-project-ontrack, body.xd .panel .availability .status.blue,
body.xd .panel .color-key .status.blue,
body.xd .panel .multi-bullets .status.blue {
  background-position: 0 -27px;
}
body.xd .icons-project-warning, body.xd .panel .availability .status.yellow,
body.xd .panel .color-key .status.yellow,
body.xd .panel .multi-bullets .status.yellow {
  background-position: 0 -40px;
}
body.xd div[data-panel-id="inpipeline"].panel {
  /** INCOMING **/
}
body.xd div[data-panel-id="inpipeline"].panel .availability .status.yellow,
body.xd div[data-panel-id="inpipeline"].panel .color-key .status.yellow,
body.xd div[data-panel-id="inpipeline"].panel .multi-bullets .status.yellow {
  background: url("https://at.avanade.com/organizations/XDNA/Style%20Library/XD/img/icoming.png") 0 0 no-repeat;
  width: 14px;
  height: 14px;
}
body.xd .xd-footer {
  padding: 20px;
  font-size: 0.8em;
  text-align: center;
}
body.xd.v4master {
  width: auto;
  margin: 0 auto;
  /*overflow: auto;*/
}
body.xd.v4master #s4-bodyContainer {
  padding: 0;
}
body.xd.v4master #ctl00_MSO_ContentDi {
  padding-top: 0;
  width: auto;
}
body.xd .inner-wrapper {
  font-size: 11px;
  background: #efefef;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  position: relative;
  cursor: default;
  /* Body Buttons and objetcs */
  /* Custom SharePoint Parts */
}
body.xd .inner-wrapper .columns,
body.xd .inner-wrapper .columns:before,
body.xd .inner-wrapper .columns:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.xd .inner-wrapper a:hover {
  cursor: pointer;
}
body.xd .inner-wrapper a:focus {
  outline: none;
}
body.xd .inner-wrapper object, body.xd .inner-wrapper embed {
  height: 100%;
}
body.xd div.article,
body.xd div.welcome {
  padding: 0;
}
body.xd .ms-sbgo.ms-sbcell {
  background-color: #fff;
}
body.xd p {
  font-size: 1.2em;
}

/* ==========================================================================


ooo        ooooo oooooooooooo oooooooooo.   ooooo       .o.       
`88.       .888' `888'     `8 `888'   `Y8b  `888'      .888.      
 888b     d'888   888          888      888  888      .8"888.     
 8 Y88. .P  888   888oooo8     888      888  888     .8' `888.    
 8  `888'   888   888    "     888      888  888    .88ooo8888.   
 8    Y     888   888       o  888     d88'  888   .8'     `888.  
o8o        o888o o888ooooood8 o888bood8P'   o888o o88o     o8888o 
                                                                  
                                                                  
                                                                  
  .oooooo.                                      o8o                     
 d8P'  `Y8b                                     `"'                     
888      888    oooo  oooo   .ooooo.  oooo d8b oooo   .ooooo.   .oooo.o 
888      888    `888  `888  d88' `88b `888""8P `888  d88' `88b d88(  "8 
888      888     888   888  888ooo888  888      888  888ooo888 `"Y88b.  
`88b    d88b     888   888  888    .o  888      888  888    .o o.  )88b 
 `Y8bood8P'Ybd'  `V88V"V8P' `Y8bod8P' d888b    o888o `Y8bod8P' 8""888P' 
  

   ========================================================================== */
/* Tablet (landscape) ----------- */
@media only screen and (max-width: 1024px) {
  body.xd .xd-header {
    padding: 20px 0;
    height: 100%;
  }

  .xd-menu .s4-tn li.static > .menu-item {
    padding: 10px 14px;
  }
}
 /**
@media only screen and (max-width: 420px) {
     #newPostSubmit, #newPostText{
       @include box-sizing(border-box);
       width:80%;
       height:auto;
       margin:10px 0;
       line-height: 1;
       display: block;
       clear: both;
     }
     #newPostSubmit{
       float: left !important;
     }
     .topPane{
       overflow: hidden;
       margin-bottom: 1.5em;
     }
 }
 /* Tablet (portrait) ----------- */
@media only screen and (max-width: 768px) {
  body.xd .xd-header h1 {
    font-size: 1.2em;
    position: absolute;
    top: 9px;
  }

  body.xd .xd-header .s4-notdlg img {
    margin-top: 13px;
  }

  body.xd .xd-header h1 {
    top: 21px;
  }

  .xd-menu .s4-tn li.static > .menu-item {
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu-horizontal {
    width: 100%;
  }

  .menu-horizontal li.static, .menu-horizontal a.static, .menu-horizontal span.static {
    width: 100%;
    float: none;
    display: block;
    margin: 0px;
    padding: 0px;
  }
}
@media only screen and (min-width: 769px) {
  body.xd .menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 620px) {
  body.xd .xd-header h1 {
    display: none;
  }

  body.xd #auth {
    text-align: center;
    float: none;
    clear: both;
    overflow: hidden;
    height: auto;
    line-height: normal;
    margin-top: 1em;
  }

  body.xd #auth .bold {
    display: block;
    text-align: center;
    width: 100% !important;
  }

  body.xd .xd-welcome {
    float: none;
  }

  body.xd #auth .thumb, body.xd #auth > div {
    display: block;
    height: auto;
    line-height: normal;
    margin: 1em auto;
    overflow: hidden;
  }
}
/* Mobile       ----------- */
@media only screen and (max-width: 620px) {
  body.xd #carPaginate.loadFade {
    width: auto !important;
  }

  body.xd .static.dynamic-children:active {
    background: #0088af;
  }

  body.xd .xd-welcome #auth {
    margin-top: 20px;
  }

  body.xd .xd-welcome #auth .thumb {
    margin: 20px auto 0;
  }

  body.xd .menu-horizontal a.dynamic-children span.additional-background:before,
  body.xd .menu-horizontal span.dynamic-children span.additional-background:before {
    margin-right: -6px;
  }

  body.xd .xd-header {
    padding: 2em;
  }

  body.xd .xd-header .xd-search input {
    height: 30px;
    float: none;
    width: 240px !important;
    background-color: white;
  }

  body.xd .xd-header .columns,
  body.xd .xd-header .xd-welcome,
  body.xd .xd-header .xd-welcome .welcome,
  body.xd .xd-header .xd-welcome .s4-trc-container-menu,
  body.xd .xd-header .xd-search,
  body.xd .xd-header .xd-search .s4-notdlg,
  body.xd .xd-header .xd-search .ms-sbtable.ms-sbtable-ex.s4-search,
  body.xd .xd-header .xd-search .ms-sbtable.ms-sbtable-ex.s4-search > tbody,
  body.xd .xd-header .xd-search .ms-sbrow,
  body.xd .xd-header .xd-search .ms-sbscopes,
  body.xd .xd-header .xd-search .ms-sbscopes.ms-sbcell {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  body.xd .xd-header .xd-search {
    margin: 2em 0;
    display: none;
  }

  body.xd .xd-header .xd-search .ms-sbcell {
    width: 100%;
  }

  body.xd .xd-header .xd-search .ms-sbrow {
    overflow: hidden;
  }

  body.xd .xd-header .xd-search .ms-sbscopes {
    margin-bottom: 2em;
    text-align: left;
    height: 30px;
  }

  body.xd .xd-header .xd-welcome span.welcome {
    font-size: 1.5em;
  }

  /* MENU       ----------- */
  body.xd xd-menu a, body.xd xd-menu li, body.xd .xd-menu, .menu-horizontal {
    display: block;
    width: 100%;
    float: none;
    margin: 0px;
    padding: 0px;
  }

  .menu-item-text {
    padding-left: 20px;
  }

  /* Responsive MENU        ----------- */
  body.xd .menu-icon {
    display: block;
  }

  body.xd .menu .ul.dynamic {
    display: block !important;
    left: auto !important;
    top: auto !important;
    position: static !important;
    clear: both !important;
  }

  body.xd ul.root.static {
    overflow: hidden;
    *zoom: 1;
  }

  body.xd #zz15_TopNavigationMenuV4 .menu {
    width: 100%;
  }

  body.xd #zz15_TopNavigationMenuV4 .menu ul {
    width: 100%;
  }

  body.xd #zz15_TopNavigationMenuV4 .menu ul > li {
    width: 100%;
  }

  body.xd #zz15_TopNavigationMenuV4 .menu ul ul > li {
    width: 100%;
  }
}
/* ==========================================================================
   Mobile
   ========================================================================== */
@media (max-width: 480px) {
  .menu-icon {
    display: block;
  }

  .menu .ul.dynamic {
    display: block !important;
    left: auto !important;
    top: auto !important;
    position: static !important;
    clear: both !important;
  }

  ul.root.static {
    overflow: hidden;
    *zoom: 1;
  }

  #zz15_TopNavigationMenuV4 .menu {
    width: 100%;
  }
  #zz15_TopNavigationMenuV4 .menu ul {
    width: 100%;
  }
  #zz15_TopNavigationMenuV4 .menu ul > li {
    width: 100%;
  }
  #zz15_TopNavigationMenuV4 .menu ul ul > li {
    width: 100%;
  }
}
/* ==========================================================================
 Tablet
 ========================================================================== */
@media only screen and (max-width: 1024px) {
  .s4-ca {
    margin-top: 70px;
  }

  body.system .s4-ca {
    overflow-x: visible;
    min-height: 1px;
  }

  html:not(.ms-dialog-nr) body.xd #main-content {
    overflow: visible;
    min-height: 1px;
  }
}
@media (min-width: 320px) {
  #auth span {
    display: block;
    margin-right: 60px;
  }
  #auth .thumbCrop {
    margin-top: -15px;
  }
}
@media only screen and (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}
