/* ..-------------------------------------------------------...
  |                         COLOR PALETTE                      |
  |..--------------------------------------------------------..|*/
/*...................Links.....................*/
/*...................Headings.....................*/
/* ..-------------------------------------------------------...
|                 ANIMATIONS & TRANSITIONS                   |
|..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
 |                         HELPER CLASSES                     |
 |..--------------------------------------------------------..|*/
.nodisplay, .hide {
  display: none;
}

.inline {
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.auto {
  margin: 0 auto;
}

.odd {
  background: #FBFBFB;
}

.even {
  background: #F2F0F1;
}

.letterpressed {
  text-shadow: 1px 1px 0 #ccc, -1px -1px- 0 #999;
}

.bold {
  font-weight: bold;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.block {
  display: block;
}

.h100 {
  height: 100%;
}

.noOutline {
  outline: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.paddingL {
  padding-left: 1.3%;
}

.paddingB {
  padding-bottom: 1.3%;
}

.paddingR {
  padding-right: 1.3%;
}

.paddingT {
  padding-top: 1.3%;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.positionA {
  position: absolute;
}

.positionF {
  position: fixed;
}

.positionR {
  position: relative;
}

.fullFixedBg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-origin: border-box;
}

body.xd input[type="submit"] {
  background-color: none;
}

/*body.xd input.ms-ButtonHeightWidth[type="button"], 
body.xd input.ms-ButtonHeightWidth[type="reset"], 
body.xd input.ms-ButtonHeightWidth[type="submit"], 
body.xd input[type="submit"]
*/
/** DIALOGOS
@include  tablet-portrait-and-below{
	.ms-ButtonHeightWidth {
		@include box-sizing(border-box);
		display: block;
	    font-size: 1.5em;
	    height: auto;
	    margin: 0.5em auto;
	    padding: 0.7em;
	    width: 95%;
	}
	.ms-authoringcontrols {
		input, textarea{
			margin: 0 auto;
		}
		tbody{
			width: auto !important;
		}
	}
	.ms-dialog{
		td{
			display: block;
			width:auto !important; 

		}
		input, textarea{
			width: 100% !important;
			box-sizing: border-box;
			padding: 15px;
			margin: 10px 0;
			display: block;
		}
		select{
			display: block;
		}
		.ms-formtable{
			padding: 15px;
		}
		.ms-formbody{
			background: none !important;
			
		}
	}

} **/
body.xd.system {
  	/**======================================== 
  
  		 .o8                       .       .                                  
  		"888                     .o8     .o8                                  
  		 888oooo.  oooo  oooo  .o888oo .o888oo  .ooooo.  ooo. .oo.    .oooo.o 
  		 d88' `88b `888  `888    888     888   d88' `88b `888P"Y88b  d88(  "8 
  		 888   888  888   888    888     888   888   888  888   888  `"Y88b.  
  		 888   888  888   888    888 .   888 . 888   888  888   888  o.  )88b 
  		 `Y8bod8P'  `V88V"V8P'   "888"   "888" `Y8bod8P' o888o o888o 8""888P'
  
  
  	===========================================**/
}
body.xd.system .s4-tn {
  overflow: visible !important;
}
body.xd.system .s4-specialNavLinkList {
  border: none;
}
body.xd.system tr.ms-itmhover {
  display: table-row;
}
body.xd.system .accordion-title {
  display: none;
}
body.xd.system .fieldName {
  display: none;
}
body.xd.system .ms-listviewtable .ms-alternating {
  background-color: #f5f5f5;
}
body.xd.system td.ms-authoringcontrols {
  /*padding: 7px;
  line-height: 1.7em;*/
}
body.xd.system td.ms-authoringcontrols label {
  font-size: 1.2em;
}
body.xd.system .ms-toolbar {
  padding: 10px;
  height: auto;
}
body.xd.system .ms-smallsectionline {
  background: none;
}
body.xd.system tr b, body.xd.system tr td b h3, body.xd.system .ms-standardheader {
  font-size: 1.5em;
  line-height: 240%;
  font-weight: normal;
}
body.xd.system .field-name {
  display: none;
}
body.xd.system .s4-ca {
  background-color: #18b4ef;
}
body.xd.system .ms-cui-ctl-large-groupPopup .ms-cui-ctl-largeIconContainer, body.xd.system .ms-cui-ctl-large-groupPopup.ms-cui-disabled:hover .ms-cui-ctl-largeIconContainer {
  border: none;
}
body.xd.system table.ms-listviewtable thead {
  background: white;
}
body.xd.system body, body.xd.system body thead td, body.xd.system body tfoot td, body.xd.system body td#header {
  background: none !important;
}
body.xd.system .s4-itm-cbx, body.xd.system .s4-itm-inlineedit {
  top: 0;
  position: relative;
}
body.xd.system .ms-gb {
  border: none;
}
body.xd.system .ms-gb h3.ms-standardheader {
  font-size: 2em;
  line-height: 44px;
  color: #555;
  margin: 0;
}
body.xd.system .ms-viewlsts .ms-vb2 {
  line-height: 170%;
}
body.xd.system .ms-viewlsts .ms-vb2 > a {
  font-size: 1.3em;
}
body.xd.system td.ms-linksectionheader, body.xd.system th.ms-linksectionheader {
  background: none;
  border: none;
  text-align: left;
  background-color: #E6E7E7;
  font-size: 16px;
  line-height: 175%;
  font-weight: normal;
  color: #000;
  text-indent: 10px;
}
body.xd.system #main-content > div > table {
  margin: 20px;
  background: none;
}
body.xd.system #main-content .ms-pageinformation {
  padding: 0;
}

/**=============================================================

oooo             .o88o.     .   ooooooooo.                                   oooo  
`888             888 `"   .o8   `888   `Y88.                                 `888  
 888   .ooooo.  o888oo  .o888oo  888   .d88'  .oooo.   ooo. .oo.    .ooooo.   888  
 888  d88' `88b  888      888    888ooo88P'  `P  )88b  `888P"Y88b  d88' `88b  888  
 888  888ooo888  888      888    888          .oP"888   888   888  888ooo888  888  
 888  888    .o  888      888 .  888         d8(  888   888   888  888    .o  888  
o888o `Y8bod8P' o888o     "888" o888o        `Y888""8o o888o o888o `Y8bod8P' o888o 

==============================================================**/
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] {
  background: #18b4ef;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .ms-splinkbutton-text {
  color: #fff;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .menu > ul > li a {
  text-decoration: none;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .menu > ul > li > a {
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  font-size: 1.1em;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .s4-ql ul.root ul {
  margin: 0;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .s4-ql ul.root ul > li {
  background: #6CCFF4;
  border-bottom: 1px solid #18b4ef;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .s4-ql ul.root ul > li > a {
  font-size: 0.9em;
  color: #fff;
  line-height: 30px;
  text-indent: 1.3em;
}
body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"] .s4-ql ul.root ul a.selected {
  color: #fff;
}

/**====================================

                             .o8        o8o  oooo                   .              .o8       oooo                     
                            "888        `"'  `888                 .o8             "888       `888                     
ooo. .oo.  .oo.    .ooooo.   888oooo.  oooo   888   .ooooo.     .o888oo  .oooo.    888oooo.   888   .ooooo.   .oooo.o 
`888P"Y88bP"Y88b  d88' `88b  d88' `88b `888   888  d88' `88b      888   `P  )88b   d88' `88b  888  d88' `88b d88(  "8 
 888   888   888  888   888  888   888  888   888  888ooo888      888    .oP"888   888   888  888  888ooo888 `"Y88b.  
 888   888   888  888   888  888   888  888   888  888    .o      888 . d8(  888   888   888  888  888    .o o.  )88b 
o888o o888o o888o `Y8bod8P'  `Y8bod8P' o888o o888o `Y8bod8P'      "888" `Y888""8o  `Y8bod8P' o888o `Y8bod8P' 8""888P' 

=======================================**/
@media only screen and (max-width: 768px) {
  html:not(.ms-dialog) table, html.not-dialog table {
    table-layout: auto;
  }
  html:not(.ms-dialog) body.system .button, html.not-dialog body.system .button {
    float: right;
  }
  html:not(.ms-dialog) table colgroup, html.not-dialog table colgroup {
    display: none;
  }
  html:not(.ms-dialog) .ms-vb2 table, html.not-dialog .ms-vb2 table {
    margin: 0 auto !important;
  }
  html:not(.ms-dialog) table tr.ms-itmhover tr, html.not-dialog table tr.ms-itmhover tr {
    padding: 20px 0;
  }
  html:not(.ms-dialog) .ms-separator, html.not-dialog .ms-separator {
    display: none !important;
  }
  html:not(.ms-dialog) .ms-propertysheet table, html.not-dialog .ms-propertysheet table {
    margin: 0 auto;
  }
  html:not(.ms-dialog) .fieldName, html.not-dialog .fieldName {
    float: left;
    margin-right: 10px;
    font-weight: bold;
    display: block;
    margin-left: -90px;
    width: 90px;
    font-size: 0.8em;
  }
  html:not(.ms-dialog) td label, html.not-dialog td label {
    display: inline-block !important;
    margin-left: 6px;
  }
  html:not(.ms-dialog) button, html:not(.ms-dialog) select, html.not-dialog button, html.not-dialog select {
    font-size: 12px;
    padding: 4px;
  }
  html:not(.ms-dialog) td.ms-authoringcontrols > label,
  html:not(.ms-dialog) td.ms-authoringcontrols > span > label,
  html:not(.ms-dialog) td.ms-authoringcontrols > table > tbody > tr > td > label, html.not-dialog td.ms-authoringcontrols > label,
  html.not-dialog td.ms-authoringcontrols > span > label,
  html.not-dialog td.ms-authoringcontrols > table > tbody > tr > td > label {
    font-size: 1em;
  }
  html:not(.ms-dialog) .ms-authoringcontrols table, html.not-dialog .ms-authoringcontrols table {
    margin: 0 auto;
    width: auto;
  }
  html:not(.ms-dialog) body.xd #main-content table.ms-viewlsts tbody tr:first-child, html.not-dialog body.xd #main-content table.ms-viewlsts tbody tr:first-child {
    display: none;
  }
  html:not(.ms-dialog) * html table.ms-listviewtable thead, html.not-dialog * html table.ms-listviewtable thead {
    zoom: 1;
  }
  html:not(.ms-dialog) body.xd #main-content, html.not-dialog body.xd #main-content {
    padding: 0 !important;
    overflow: hidden;
    padding: 10px 0;
  }
  html:not(.ms-dialog) body.xd #main-content tr.s4-itm-selected, html:not(.ms-dialog) body.xd #main-content tr.s4-itm-selected:hover, html.not-dialog body.xd #main-content tr.s4-itm-selected, html.not-dialog body.xd #main-content tr.s4-itm-selected:hover {
    background-color: none transparent !important;
  }
  html:not(.ms-dialog) body.xd #main-content tr.s4-itm-selected > td, html:not(.ms-dialog) body.xd #main-content tr.s4-itm-selected:hover > td, html.not-dialog body.xd #main-content tr.s4-itm-selected > td, html.not-dialog body.xd #main-content tr.s4-itm-selected:hover > td {
    background-color: white !important;
  }
  html:not(.ms-dialog) body.xd #main-content tr.s4-itm-selected, html.not-dialog body.xd #main-content tr.s4-itm-selected {
    background: white !important;
  }
  html:not(.ms-dialog) body.xd #main-content #layoutsTable, html.not-dialog body.xd #main-content #layoutsTable {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: auto !important;
    table-layout: fixed\9;
    width: 100% \9;
  }
  html:not(.ms-dialog) body.xd #main-content tbody, html:not(.ms-dialog) body.xd #main-content tr, html.not-dialog body.xd #main-content tbody, html.not-dialog body.xd #main-content tr {
    width: 100% !important;
    display: block;
    float: left\9;
    /* IE8+9  */
  }
  html:not(.ms-dialog) body.xd #main-content td, html.not-dialog body.xd #main-content td {
    line-height: 30px;
    position: relative;
  }
  html:not(.ms-dialog) body.xd #main-content td select, html.not-dialog body.xd #main-content td select {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html:not(.ms-dialog) body.xd #main-content td img, html.not-dialog body.xd #main-content td img {
    max-width: 100%;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-itmhover, html.not-dialog body.xd #main-content .ms-itmhover {
    display: none;
  }
  html:not(.ms-dialog) body.xd #main-content tr.accordion-title, html.not-dialog body.xd #main-content tr.accordion-title {
    display: block;
    float: left\9;
    /* IE8+9  */
    width: 100% !important;
    /*IE8+9 */
    clear: both\9;
    /*IE8+9 */
    background: #c2e0f3;
    padding: 10px;
    border-bottom: 1px solid #97caeb;
  }
  html:not(.ms-dialog) body.xd #main-content tr.accordion-title td, html.not-dialog body.xd #main-content tr.accordion-title td {
    line-height: 25px;
    font-size: 1.4em;
    color: #004255;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0;
    line-height: 30px;
    text-align: left;
    text-indent: 1em;
    display: block;
    float: left\9;
    /* IE8+9  */
    clear: both\9;
    /*IE8+9 */
    width: 100% !important;
  }
  html:not(.ms-dialog) body.xd #main-content tr.accordion-title:before, html.not-dialog body.xd #main-content tr.accordion-title:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #004255;
    position: absolute;
    right: 10px;
    margin-top: 5px;
  }
  html:not(.ms-dialog) body.xd #main-content tr.accordion-title.active:before, html.not-dialog body.xd #main-content tr.accordion-title.active:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #004255;
    position: absolute;
    right: 10px;
    margin-top: 10px;
  }
  html:not(.ms-dialog) body.xd #main-content tr.accordion-title:hover, html.not-dialog body.xd #main-content tr.accordion-title:hover {
    background: #d7ebf7;
  }
  html:not(.ms-dialog) body.xd #main-content #onetidMngFieldRptrTable tr, html:not(.ms-dialog) body.xd #main-content #onetidMngFieldRptrTable tbody, html.not-dialog body.xd #main-content #onetidMngFieldRptrTable tr, html.not-dialog body.xd #main-content #onetidMngFieldRptrTable tbody {
    width: auto !important;
  }
  html:not(.ms-dialog) body.xd #main-content #onetidMngFieldRptrTable td, html.not-dialog body.xd #main-content #onetidMngFieldRptrTable td {
    width: 100% !important;
  }
  html:not(.ms-dialog) body.xd #main-content #onetidMngFieldRptrTable tr, html.not-dialog body.xd #main-content #onetidMngFieldRptrTable tr {
    border-bottom: 1px solid #ccc;
  }
  html:not(.ms-dialog) body.xd #main-content #onetidMngCytpeRptrTable td, html.not-dialog body.xd #main-content #onetidMngCytpeRptrTable td {
    padding: 15px 16px;
    text-indent: 10px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-propertysheet a, html.not-dialog body.xd #main-content .ms-propertysheet a {
    line-height: 52px;
    font-size: 1.1em;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-propertysheet a:first-child, html.not-dialog body.xd #main-content .ms-propertysheet a:first-child {
    background: #c2e0f3;
    color: #fff;
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView table, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView table {
    display: table !important;
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView td, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView td {
    display: table-cell !important;
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView tr, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView tr {
    display: table-row !important;
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-detail th, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-detail th {
    display: table-cell !important;
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-vcont td, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-vcont td {
    display: block !important;
    float: left\9;
    /* IE8+9  */
    width: 100% \9;
    /*IE8+9 */
    clear: both\9;
    /*IE8+9 */
  }
  html:not(.ms-dialog) body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-outday, html.not-dialog body.xd #main-content #AsynchronousViewDefault_CalendarView .ms-acal-outday {
    border-right: solid 1px #d9dde1 !important;
    border-left: solid 1px #d9dde1 !important;
    display: table-cell !important;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-authoringcontrols, html.not-dialog body.xd #main-content .ms-authoringcontrols {
    background: none !important;
    clear: both;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-authoringcontrols br[disabled=true], html:not(.ms-dialog) body.xd #main-content .ms-authoringcontrols td br, html.not-dialog body.xd #main-content .ms-authoringcontrols br[disabled=true], html.not-dialog body.xd #main-content .ms-authoringcontrols td br {
    display: none;
  }
  html:not(.ms-dialog) body.xd #main-content #diidViewColumnHeaderPictureDisp1, html.not-dialog body.xd #main-content #diidViewColumnHeaderPictureDisp1 {
    height: 85px;
  }
  html:not(.ms-dialog) body.xd #main-content .theme-font-pickers, html.not-dialog body.xd #main-content .theme-font-pickers {
    float: none;
  }
  html:not(.ms-dialog) body.xd #main-content tbody > tr > th, html.not-dialog body.xd #main-content tbody > tr > th {
    display: none;
  }
  html:not(.ms-dialog) body.xd #main-content tr td b h3, html.not-dialog body.xd #main-content tr td b h3 {
    text-align: center !important;
  }
  html:not(.ms-dialog) body.xd #main-content .field-name, html.not-dialog body.xd #main-content .field-name {
    font-weight: bold;
    display: block;
  }
  html:not(.ms-dialog) body.xd #main-content #mngfieldToobar, html.not-dialog body.xd #main-content #mngfieldToobar {
    background: #fff;
    padding: 20px 0;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar, html.not-dialog body.xd #main-content .ms-toolbar {
    background: none;
    border: none;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar #topPagingCell, html.not-dialog body.xd #main-content .ms-toolbar #topPagingCell {
    display: none;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar label, html.not-dialog body.xd #main-content .ms-toolbar label {
    font-size: 1.4em;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar select, html.not-dialog body.xd #main-content .ms-toolbar select {
    display: block;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar table, html.not-dialog body.xd #main-content .ms-toolbar table {
    width: 100%;
    margin: 0 auto !important;
    border: 1px solid #ccc;
    padding: 3px 0;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar table td, html.not-dialog body.xd #main-content .ms-toolbar table td {
    background: #eee;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar table:hover, html.not-dialog body.xd #main-content .ms-toolbar table:hover {
    background: url("https://at.avanade.com/_layouts/images/bgximg.png") repeat-x 0px -431px;
    cursor: pointer;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar .ms-menubuttoninactivehover, html.not-dialog body.xd #main-content .ms-toolbar .ms-menubuttoninactivehover {
    background: #eee;
    border: 1px solid #ccc;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-sectionheader, html.not-dialog body.xd #main-content .ms-sectionheader {
    height: auto;
    font-weight: bold;
    padding: 7px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-sectionheader .ms-standardheader, html.not-dialog body.xd #main-content .ms-sectionheader .ms-standardheader {
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    font-weight: normal;
  }
  html:not(.ms-dialog) body.xd #main-content table[id*=PlaceHolderMain], html.not-dialog body.xd #main-content table[id*=PlaceHolderMain] {
    margin: 0 auto;
  }
  html:not(.ms-dialog) body.xd #main-content > div, html.not-dialog body.xd #main-content > div {
    float: none !important;
    margin: 0 auto !important;
    width: auto !important;
  }
  html:not(.ms-dialog) body.xd #main-content > div > table, html.not-dialog body.xd #main-content > div > table {
    margin: 0 auto;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-pageinformation th, html:not(.ms-dialog) body.xd #main-content .ms-pageinformation tr, html:not(.ms-dialog) body.xd #main-content .ms-pageinformation td, html:not(.ms-dialog) body.xd #main-content .ms-pageinformation h3, html.not-dialog body.xd #main-content .ms-pageinformation th, html.not-dialog body.xd #main-content .ms-pageinformation tr, html.not-dialog body.xd #main-content .ms-pageinformation td, html.not-dialog body.xd #main-content .ms-pageinformation h3 {
    text-align: center;
    font-size: 1.1em;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-pageinformation h3, html.not-dialog body.xd #main-content .ms-pageinformation h3 {
    font-size: 1.5em;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-linksection-level1 td, html.not-dialog body.xd #main-content .ms-linksection-level1 td {
    height: auto !important;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-linksection-level1 h3, html.not-dialog body.xd #main-content .ms-linksection-level1 h3 {
    font-size: 1.5em;
    font-weight: 100;
    padding: 17px 0 9px 0;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-linksection-level1 ul li a, html.not-dialog body.xd #main-content .ms-linksection-level1 ul li a {
    font-size: 1.1em;
    line-height: 45px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-linksection-level1 img, html.not-dialog body.xd #main-content .ms-linksection-level1 img {
    margin-top: 13px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-vb a, html.not-dialog body.xd #main-content .ms-vb a {
    font-size: 1.3em;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-menutoolbar td a, html.not-dialog body.xd #main-content .ms-menutoolbar td a {
    color: #0072bc !important;
    font-size: 12pt;
    margin: 10px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-toolbar table:hover, html.not-dialog body.xd #main-content .ms-toolbar table:hover {
    background: #ccc;
  }
  html:not(.ms-dialog) body.xd #main-content td.ms-vb2, html.not-dialog body.xd #main-content td.ms-vb2 {
    width: auto !important;
    padding: 10px 15px;
    font-size: 1em;
    padding-left: 100px;
    text-align: left;
    line-height: 25px;
  }
  html:not(.ms-dialog) body.xd #main-content td.ms-vb2[colspan="3"] .fieldName, html.not-dialog body.xd #main-content td.ms-vb2[colspan="3"] .fieldName {
    display: none;
  }
  html:not(.ms-dialog) body.xd #main-content > table, html.not-dialog body.xd #main-content > table {
    width: auto;
    display: block;
    table-layout: fixed \9;
    /* IE8+9  */
    width: 100% \9;
    /* IE8+9  */
  }
  html:not(.ms-dialog) body.xd #main-content > table > tbody, html:not(.ms-dialog) body.xd #main-content > table > tbody > tr, html:not(.ms-dialog) body.xd #main-content > table > tbody > tr > td, html.not-dialog body.xd #main-content > table > tbody, html.not-dialog body.xd #main-content > table > tbody > tr, html.not-dialog body.xd #main-content > table > tbody > tr > td {
    display: block;
    float: left\9;
    /* IE8+9  */
    width: 100% \9;
    /*IE8+9 */
    clear: both\9;
    /*IE8+9 */
    border: none;
    text-align: center !important;
    height: auto;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-vb2:nth-of-type(2), html.not-dialog body.xd #main-content .ms-vb2:nth-of-type(2) {
    display: block;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-vb2.ms-viewlsts-noitems, html.not-dialog body.xd #main-content .ms-vb2.ms-viewlsts-noitems {
    display: block;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-vb-icon, html.not-dialog body.xd #main-content .ms-vb-icon {
    margin: 0 auto !important;
    padding: 20px;
  }
  html:not(.ms-dialog) body.xd #main-content tbody > tr > td, html.not-dialog body.xd #main-content tbody > tr > td {
    border: none !important;
    text-align: center;
    width: auto !important;
    display: block;
    float: left\9;
    /* IE8+9  */
    width: 100% \9;
    /*IE8+9 */
    clear: both\9;
    /*IE8+9 */
  }
  html:not(.ms-dialog) body.xd #main-content table.ms-listviewtable, html.not-dialog body.xd #main-content table.ms-listviewtable {
    table-layout: fixed \9;
    /* IE8+9  */
    width: 100% \9;
    /* IE8+9  */
  }
  html:not(.ms-dialog) body.xd #main-content table.ms-listviewtable tbody tr.ms-itmhover td, html.not-dialog body.xd #main-content table.ms-listviewtable tbody tr.ms-itmhover td {
    width: 100% !important;
  }
  html:not(.ms-dialog) body.xd #main-content td.ms-vb-itmcbx, html.not-dialog body.xd #main-content td.ms-vb-itmcbx {
    text-align: center;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-gb h3.ms-standardheader, html.not-dialog body.xd #main-content .ms-gb h3.ms-standardheader {
    text-align: center;
    font-size: 2em;
    line-height: 44px;
    text-align: center;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-gb, html.not-dialog body.xd #main-content .ms-gb {
    height: 45px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-menubuttonactivehover, html:not(.ms-dialog) body.xd #main-content .ms-buttonactivehover, html.not-dialog body.xd #main-content .ms-menubuttonactivehover, html.not-dialog body.xd #main-content .ms-buttonactivehover {
    background: #dedede;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-viewheadertr input[type="checkbox"], html.not-dialog body.xd #main-content .ms-viewheadertr input[type="checkbox"] {
    margin-top: 3px;
  }
  html:not(.ms-dialog) body.xd #main-content .ms-menutoolbar, html.not-dialog body.xd #main-content .ms-menutoolbar {
    height: auto;
    background: none;
  }
  html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable tbody, html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable tr, html:not(.ms-dialog) body.xd #main-content table.s4-wpTopTable, html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable table, html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable td, html.not-dialog body.xd #main-content .s4-wpTopTable tbody, html.not-dialog body.xd #main-content .s4-wpTopTable tr, html.not-dialog body.xd #main-content table.s4-wpTopTable, html.not-dialog body.xd #main-content .s4-wpTopTable table, html.not-dialog body.xd #main-content .s4-wpTopTable td {
    display: block;
    float: left\9;
    /* IE8+9  */
    width: 100% \9;
    /*IE8+9 */
    clear: both\9;
    /*IE8+9 */
  }
  html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView tbody, html.not-dialog body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView tbody {
    display: table-row-group;
  }
  html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView tr, html.not-dialog body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView tr {
    display: table-row;
  }
  html:not(.ms-dialog) body.xd #main-content table.s4-wpTopTable #AsynchronousViewDefault_CalendarView, html.not-dialog body.xd #main-content table.s4-wpTopTable #AsynchronousViewDefault_CalendarView {
    display: block;
    table-layout: fixed \9;
    width: 100% \9;
    clear: both \9;
  }
  html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView table, html.not-dialog body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView table {
    display: table;
  }
  html:not(.ms-dialog) body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView td, html.not-dialog body.xd #main-content .s4-wpTopTable #AsynchronousViewDefault_CalendarView td {
    display: table-cell;
  }
}

@media only screen and (max-width: 1024px) {
  body.system .s4-ca {
    overflow-x: visible !important;
    min-height: 1px;
  }

  html:not(.ms-dialog-nr) body.xd.system #main-content {
    overflow: visible !important;
    min-height: 1px;
  }
}
body.xd.system table table.ms-listviewtable > tbody {
  width: 100% !important;
}

body.xd.system table table.ms-listviewtable > tbody .ms-itmhover {
  background-image: none;
}

/**===========================================================================


ooooo oooooooooooo     .o88o.  o8o                                 
`888' `888'     `8     888 `"  `"'                                 
 888   888            o888oo  oooo  oooo    ooo  .ooooo.   .oooo.o 
 888   888oooo8        888    `888   `88b..8P'  d88' `88b d88(  "8 
 888   888    "        888     888     Y888'    888ooo888 `"Y88b.  
 888   888       o     888     888   .o8"'88b   888    .o o.  )88b 
o888o o888ooooood8    o888o   o888o o88'   888o `Y8bod8P' 8""888P' 

============================================================================**/
.lt-ie8 body.xd.system #thumbCrop > img {
  visbility: visible;
}

.lt-ie8 body.xd.system tr.ms-itmhover {
  display: table-row !important;
}

body.xd.system table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: none;
}

body.xd.system img[src="/_layouts/images/blank.gif"] {
  display: none;
}

/**======================================== 
				
      .o8   o8o            oooo                                
     "888   `"'            `888                                
 .oooo888  oooo   .oooo.    888   .ooooo.   .oooooooo  .oooo.o 
d88' `888  `888  `P  )88b   888  d88' `88b 888' `88b  d88(  "8 
888   888   888   .oP"888   888  888   888 888   888  `"Y88b.  
888   888   888  d8(  888   888  888   888 `88bod8P'  o.  )88b 
`Y8bod88P" o888o `Y888""8o o888o `Y8bod8P' `8oooooo.  8""888P' 
                                           d"     YD           
                                           "Y88888P'           
 
===========================================**/
.ms-dlgFrameContainer {
  overflow: hidden;
  width: 100%;
}

.ms-dglContent {
  width: 100%;
}

html.ms-dialog body.xd.system #s4-leftpanel[role="complementary"] {
  display: none !important;
}
html.ms-dialog body.xd.system .ms-long {
  width: 100%;
}
html.ms-dialog body.xd.system .ms-inputformdescription {
  padding-left: 6px;
  padding-right: 9px;
}
html.ms-dialog body.xd.system .ms-ButtonHeightWidth {
  font: 8pt tahoma;
  height: 2.1em;
  padding-bottom: 0.4em;
  padding-top: 0.1em;
  width: 14.2em;
}
html.ms-dialog body.xd.system #wrapper {
  width: 100%;
}
html.ms-dialog body.xd.system .xd-header, html.ms-dialog body.xd.system .menu-icon, html.ms-dialog body.xd.system .sidebar-button, html.ms-dialog body.xd.system .xd-footer {
  display: none !important;
}
html.ms-dialog body.xd.system .ms-sectionheader h3.ms-standardheader {
  font-size: 1.1em;
  line-height: 1.4;
  font-weight: bold;
}
html.ms-dialog body.xd.system > table > td.ms-descriptiontext {
  font-size: 11px;
  line-height: 1.1em;
  display: table;
}
html.ms-dialog body.xd.system > table > td.ms-descriptiontext table {
  text-align: center;
}
html.ms-dialog body.xd.system #s4-workspace .s4-ca {
  margin: 0;
  background: none !important;
}
html.ms-dialog body.xd.system #s4-workspace .s4-ca #main-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin: 0;
  width: 100%;
  min-height: 1px;
}
html.ms-dialog body.xd.system #s4-workspace .s4-ca #main-content > table {
  margin: 0;
  width: 100% !important;
}
html.ms-dialog body.xd.system #s4-workspace .s4-ca #main-content > table > tbody {
  display: block;
  width: auto;
}
html.ms-dialog body.xd.system .ms-authoringcontrols {
  background-color: #f6f6f6;
}
html.ms-dialog body.xd.system table {
  font-size: 12px;
}
html.ms-dialog body.xd.system .s4-pr {
  width: 100% !important;
}
